@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

/* NUEVAS CLASES */
.why-section {
    background: #ffffff;
}

.why-title {
    font-size: 38px;
    font-weight: 900;
    color: #1F844A;
}

.why-subtitle {
    font-size: 18px;
    color: #415A77;
    margin-bottom: 50px;
}

/* CONTENEDOR VERDE */
.bg-box {
    background: #B3CCBE;
    width: 100%;              
    margin: 0 auto;           
    padding: 60px 50px;             
    margin-top: 40px;         
}

/* CONTENEDOR GENERAL */
.wrapper {
    max-width: 1400px;     
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* FILA 1 */
.row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;  
    gap: 30px;
}

/* FILA 2 */
.row-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* TARJETAS */
.card-item {
    width: 300px;     
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-item h3 {
    text-align: center;
    font-size: 18px;
    color: #1F844A;
    font-weight: 700;
}

/* IMAGEN */
.card-item img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

/* CUADRO DE TEXTO */
.card-info {
    background: white;
    padding: 16px;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}

.card-info p {
    font-size: 15px;
    line-height: 1.4;
    color: #415A77;
}

/* RESPONSIVE */
@media (max-width: 1100px) {
    .row-1, .row-2 {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .why-section {
        padding: 30px;
    }
}
