
.features {
  min-height: 90dvh;
  width: 100%;
  padding: 60px 32px 13px 32px;
  position: relative;
  box-sizing: border-box;
}

.features h2 {
  font-family: "Lato", sans-serif;
  font-weight: 800;
  color: #1f844a;
  font-size: 50px;
  margin: 60px 0 10px 120px;
  /*arriba derecha abajo izquierda*/
}

.feature-list {
  background-color: rgba(45, 62, 80, 0.85);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 1.4;
  /*Interlineado*/
  padding: 20px 20px;
  /*arriba y abajo izquierda y derecha*/
  border-radius: 10px;
  list-style-position: inside;
  margin: 0;
  /* hacia a la derecha */
  position: absolute;
  top: 250px;
  left: 120px;
  width: 420px;
}

.mockups {
  position: absolute;
  top: 150px;
  right: 48px;
  width: 420px;
  height: 500px;
}

/* Estilo base de cada mockup */
.mockup {
  position: absolute;
  /* Se unifica en absolute para consistencia al superponer */
  width: 240px;
  box-shadow: 0 12px 28px rgba(0, 0, 0, .18);
}

/* Variantes individuales */
.mockup-left {
  left: -240px;
  top: -17px;
  z-index: 1;
}

.mockup-right {
  right: 85px;
  bottom: 0;
  z-index: 1;
}