/* -- TÍTULO PRINCIPAL -- */
.faq-heading {
    color: #ffb900;
    font-weight: 800;
    font-size: 50px;
    margin: 100px 0 25px 40px;
    text-align: left;
}

/* -- BOTONES DE NAVEGACIÓN -- */
.faq-buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 35px;
}

.faq-buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #ffffff;
    font-weight: 800;
    font-size: 35px;
    color: #2d3e50;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.faq-buttons button.active {
    background-color: rgba(75, 73, 73, 0.3);
}

/* -- CUADRO DE PREGUNTA -- */
.faq-content {
    background-color: #b2d3c2;
    border-radius: 15px;
    width: 1100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
    padding: 3px 50px 5px 50px;
    position: relative;
    color: #2d3e50;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

/* -- Triángulo decorativo dinámico -- */
.triangle {
    position: absolute;
    top: -24px;
    left: 365px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 25px solid #b2d3c2;
    transition: all 0.3s ease;
}

/* -- TEXTO DE LA PREGUNTA -- */
.faq-text {
    width: 70%;
}

.faq-text h2 {
    font-weight: 700;
    font-size: 32px;
    color: #2d3e50;
    margin-bottom: 10px;
}

.faq-text p {
    font-size: 20px;
    line-height: 1.4;
}

/* -- IMAGEN DEL PERSONAJE -- */
.faq-image {
    display: flex;
    align-items: flex-start;
}

.faq-image img {
    width: 280px;
    height: 100%;
    display: flex;
    margin-top: 20px;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.25));
    align-items: center;
    /* centra verticalmente */
    justify-content: center;
    /* centra horizontalmente si es necesario */

}

/* -- ESTILO ESPECIAL PARA LA PREGUNTA 4 -- */
.faq-content.question4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 40px;
    gap: 20px;
}

.faq-content.question4 .faq-text {
    width: 90%;
    margin: 0 auto;
}

.faq-content.question4 .faq-image {
    justify-content: center;
    width: 100%;
}

.faq-content.question4 .faq-image img {
    width: 220px;
    margin: 0 auto;
}

